:root {
	--height: 0px;
	--width: 0px;
	--emote-height: 0px;
	--emote-width: 0px;
	--zoom-height: var(--emote-height);
	--zoom-width: var(--emote-width);
}

body {
	margin: 0;
	overflow: hidden;
}

img {
	box-sizing: border-box;
	height: var(--emote-height);
	width: var(--emote-width);
}

img.emote {
	position: fixed;
	border: 0;
	margin: 0;
	padding: 0;
	offset-rotate: 0deg;
}

div.scene {
	position: fixed;
	border: 0;
	margin: 0;
	padding: 0;
}

div.scene.cube {
	height: var(--emote-height);
	width: var(--emote-width);
}

div.scene div.cube {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
}

div.scene div.cube div[data-face] {
	height: var(--emote-height);
	width: var(--emote-width);
}

div.scene div.cube div[data-face] img {
	position: absolute;
	transform: translateZ(var(--cube-depth));
}

div.scene div.cube [data-face] {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.2);
}

div.scene div.cube [data-face="front"] {
	transform: translateZ(var(--cube-depth));
}

div.scene div.cube [data-face="back"] {
	transform: rotateY(90deg) translateZ(var(--cube-depth));
}

div.scene div.cube [data-face="right"] {
	transform: rotateY(180deg) translateZ(var(--cube-depth));
}

div.scene div.cube [data-face="left"] {
	transform: rotateY(-90deg) translateZ(var(--cube-depth));
}

div.scene div.cube [data-face="top"] {
	transform: rotateX(90deg) translateZ(var(--cube-depth));
}

div.scene div.cube [data-face="bottom"] {
	transform: rotateX(-90deg) translateZ(var(--cube-depth));
}

div.scene img.dancer {
	text-align: center;
	position: relative;
	animation: dance 4s linear infinite;
}

@keyframes dance {
	0% {
		transform: translate(80%, 40%) rotate(30deg);
	}

	6% {
		transform: translate(50%, 10%) rotate(0deg);
	}

	13% {
		transform: translate(20%, 40%) rotate(-30deg);
	}

	19% {
		transform: translate(50%, 10%) rotate(0deg);
	}

	25% {
		transform: translate(80%, 40%) rotate(30deg);
	}

	31% {
		transform: translate(50%, 10%) rotate(0deg);
	}

	38% {
		transform: translate(20%, 40%) rotate(-30deg);
	}

	44% {
		transform: translate(20%, 10%) rotate(-30deg);
	}

	50% {
		transform: translate(20%, 40%) rotate(-30deg);
	}

	56% {
		transform: translate(50%, 10%) rotate(0deg);
	}

	63% {
		transform: translate(80%, 40%) rotate(30deg);
	}

	69% {
		transform: translate(50%, 10%) rotate(0deg);
	}

	75% {
		transform: translate(20%, 40%) rotate(-30deg);
	}

	81% {
		transform: translate(50%, 10%) rotate(0deg);
	}

	88% {
		transform: translate(80%, 40%) rotate(30deg);
	}

	94% {
		transform: translate(80%, 10%) rotate(30deg);
	}

	100% {
		transform: translate(80%, 40%) rotate(30deg);
	}
}

@keyframes wiggleL {
	33% {
		transform: translateX(-50%);
	}

	66% {
		transform: translateX(50%);
	}
}

@keyframes wiggleR {
	33% {
		transform: translateX(50%);
	}

	66% {
		transform: translateX(-50%);
	}
}

@keyframes speedL {
	0% {
		transform: scale(1, 1);
	}

	10% {
		transform: scale(0.6, 1);
	}

	15% {
		transform: scale(0.6, 1);
	}

	20% {
		transform: scale(1, 0.4);
	}

	100% {
		transform: scale(1, 0.4) translate(calc(-1 * var(--width) * 4), 0);
	}
}

@keyframes speedR {
	0% {
		transform: scale(1, 1);
	}

	10% {
		transform: scale(0.6, 1);
	}

	15% {
		transform: scale(0.6, 1);
	}

	20% {
		transform: scale(1, 0.4);
	}

	100% {
		transform: scale(1, 0.4) translate(calc(var(--width) * 4), 0);
	}
}

@keyframes dropL {
	0% {
		transform: translateY(-100%);
	}

	10% {
		transform: translateY(0%);
	}

	20% {
		transform: translateY(0%);
	}

	25% {
		transform: translateY(0%) rotate(45deg);
	}

	27% {
		transform: translateY(0%) rotate(35deg);
	}

	30% {
		transform: translateY(0%) rotate(45deg);
	}

	100% {
		transform: translateY(var(--height)) rotate(350deg);
	}
}

@keyframes dropR {
	0% {
		transform: translateY(-100%);
	}

	10% {
		transform: translateY(0%);
	}

	20% {
		transform: translateY(0%);
	}

	25% {
		transform: translateY(0%) rotate(-45deg);
	}

	27% {
		transform: translateY(0%) rotate(-35deg);
	}

	30% {
		transform: translateY(0%) rotate(-45deg);
	}

	100% {
		transform: translateY(var(--height)) rotate(-350deg);
	}
}

@keyframes confettiA {
	0% {
		transform: translateY(-100%) rotate3d(0.25, 0.5, 0, 0deg);
	}

	100% {
		transform: translateY(var(--height)) rotate3d(0.25, 0.5, 0, -4500deg);
	}
}

@keyframes confettiB {
	0% {
		transform: translateY(-100%) rotate3d(0.25, 0.5, 0, 0deg);
	}

	100% {
		transform: translateY(var(--height)) rotate3d(0.25, 0, 0, -4500deg);
	}
}

@keyframes confettiC {
	0% {
		transform: translateY(-100%) rotate3d(0.25, 0.5, 0, 0deg);
	}

	100% {
		transform: translateY(var(--height)) rotate3d(0.25, -0.5, 0, -4500deg);
	}
}

@keyframes offsetPath {
	0% {
		offset-distance: 0%;
	}

	100% {
		offset-distance: 100%;
	}
}

.eSize-1_000 {
	--zoom-height: var(--emote-height);
	--zoom-width: var(--emote-width);
}

.eSize-0_500 {
	--zoom-height: calc(var(--emote-height) / 2);
	--zoom-width: calc(var(--emote-width) / 2);
}

.eSize-2_000 {
	--zoom-height: calc(var(--emote-height) * 2);
	--zoom-width: calc(var(--emote-width) * 2);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100%

		/* 8% */ {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0%

		/* 95% */ {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes noFadeOut {
	99% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes zoomIn {
	0% {
		padding: calc((var(--zoom-height) - (var(--zoom-height) * 0.1)) / 2) 0;
	}

	24%

		/* 4% */ {
		padding: 0;
	}

	47%

		/* 8% */ {
		padding: calc((var(--zoom-height) - (var(--zoom-height) * 0.8)) / 2) 0;
	}

	71%

		/* 12% */ {
		padding: 0;
	}

	88%

		/* 15% */ {
		padding: calc((var(--zoom-height) - (var(--zoom-height) * 0.95)) / 2) 0;
	}

	100%

		/* 17% */ {
		padding: 0;
	}
}

@keyframes zoomOut {
	0%

		/* 95% */ {
		padding: 0;
	}

	100% {
		padding: calc((var(--zoom-height) - (var(--zoom-height) * 0.1)) / 2) 0;
	}
}
