{
  "extends": "@satont/eslint-config",
  "ignorePatterns": ["./libs/nats/**/*.ts", "ecosystem.config.cjs"],
  "overrides": [
    {
      "files": ["*.config.js"],
      "env": {
        "node": true
      }
    }
  ]
}
