{
  "extends": "@satont/eslint-config",
  "ignorePatterns": ["./libs/nats/**/*.ts", "ecosystem.config.cjs"],
  "rules": {
    "vue/max-attributes-per-line": "off",
    "vue/static-class-names-order": "off"
  },
  "overrides": [
    {
      "files": ["*.config.js"],
      "env": {
        "node": true
      }
    }
  ]
}
