node_modules
# Keep environment variables out of version control
.env
dist
tsconfig.tsbuildinfo
.turbo
.pnpm-debug.log
libs/grpc/go/bots
libs/grpc/go/streamstatus
libs/grpc/src/*.ts
!libs/grpc/src/index.ts
postgres_data
redis-data
tests.yml
docker-compose*
!docker-compose.example.yml
!docker-compose.dev.yml
minio_data
.pnpm-store
.DS_Store
.pnpm-store
