node_modules
.env
traefik/.env
dist
tsconfig.tsbuildinfo
.turbo
.pnpm-debug.log
libs/grpc/go/bots
libs/grpc/go/streamstatus
libs/grpc/src/*.ts
!libs/grpc/src/index.ts

docker-compose*
!docker-compose.example.yml
!docker-compose.dev.yml
!docker-compose.build.yml
!docker-compose.stack.yml
!docker-compose.dockprom.yml
.devbox
devbox/go
.pnpm-store

!*/**/.gitkeep

main
main.~

.vscode
.idea
!.vscode/extensions.json
!traefik/*

vite.config.ts.timestamp-*

.DS_STORE
