{
	email {$CADDY_EMAIL}
	on_demand_tls {
		ask {$CADDY_ASK_URL}
	}
}

{$SITE_BASE_URL} twir.app cf.twir.app music-recognizer.twir.app services-bots.twir.app {
	reverse_proxy http://haproxy:80
}

:80 {
	redir https://{host}{uri} permanent
}

:443 {
	tls {
		on_demand
	}

	reverse_proxy http://haproxy:80
}
