:80 {
	handle /p*
		root * /app
		encode gzip
		try_files {path} {path}/ /index.html
		file_server
	}

	handle /public*
  		root * /app
  		encode gzip
  		try_files {path} {path}/ /index.html
  		file_server
  	}
}
