version: '3.9'

services:
  adminer:
    image: adminer
    environment:
      - ADMINER_PLUGINS=enum-types
    networks:
      - twir
      - traefik-public
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.twir-adminer.rule=Host(`adminer.twir.app`)
        - traefik.http.routers.twir-adminer.middlewares=admin-auth
        - traefik.http.services.twir-adminer.loadbalancer.server.port=8080
        - traefik.docker.network=traefik-public

  nats:
    image: nats:2.10.11-scratch
    restart: always
    command: -js -m 8222
    networks:
      - twir
      - traefik-public
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.twir-nats.rule=Host(`nats.twir.app`)
        - traefik.http.routers.twir-nats.middlewares=admin-auth
        - traefik.http.services.twir-nats.loadbalancer.server.port=8222
        - traefik.docker.network=traefik-public

  temporal-ui:
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:3000
    image: temporalio/ui:2.21.0
    networks:
      - twir
      - traefik-public
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.twir-temporal.rule=Host(`temporal.twir.app`)
        - traefik.http.routers.twir-temporal.middlewares=admin-auth
        - traefik.http.services.twir-temporal.loadbalancer.server.port=8080
        - traefik.docker.network=traefik-public

#  postgres:
#    image: postgres:14-alpine
#    volumes:
#      - postgres-data:/var/lib/postgresql/data
#      - ./configs/postgres.conf:/etc/postgresql/postgresql.conf
#    environment:
#      POSTGRES_USER_FILE: /run/secrets/twir_postgres_user
#      POSTGRES_PASSWORD_FILE: /run/secrets/twir_postgres_password
#      POSTGRES_DB_FILE: /run/secrets/twir_postgres_db
#    secrets:
#      - twir_postgres_user
#      - twir_postgres_password
#      - twir_postgres_db
#    networks:
#      - twir
#    deploy:
#      restart_policy:
#        condition: any
#        delay: 30s
#        max_attempts: 30
#      endpoint_mode: dnsrr
#      placement:
#        constraints:
#          - node.role == manager


  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.116.1
    volumes:
      - ./configs/otel/otel-collector.yaml:/etc/otelcol-contrib/config.yaml
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - twir
    deploy:
      restart_policy:
        condition: any
        delay: 3s
        max_attempts: 30
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager

  postgres:
    image: 'bitnami/postgresql:17'
    environment:
      POSTGRES_USER_FILE: /run/secrets/twir_postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/twir_postgres_password
      POSTGRES_DB_FILE: /run/secrets/twir_postgres_db
      POSTGRESQL_POSTGRES_PASSWORD_FILE: /run/secrets/twir_postgres_password
      POSTGRESQL_MAX_CONNECTIONS: 1000
    secrets:
      - twir_postgres_user
      - twir_postgres_password
      - twir_postgres_db
    volumes:
      - twir-postgres-data:/bitnami/postgresql
    networks:
      - twir
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager

  pgbouncer:
    image: bitnami/pgbouncer:1.23.1
    secrets:
      - twir_postgres_user
      - twir_postgres_password
      - twir_postgres_db
    environment:
      - POSTGRESQL_HOST=postgres
      - POSTGRESQL_USERNAME_FILE=/run/secrets/twir_postgres_user
      - POSTGRESQL_PASSWORD_FILE=/run/secrets/twir_postgres_password
      - POSTGRESQL_DATABASE_FILE=/run/secrets/twir_postgres_db

      - PGBOUNCER_AUTH_USER=twir
      - PGBOUNCER_DATABASE=twir
      - PGBOUNCER_DEFAULT_POOL_SIZE=100
      - PGBOUNCER_MIN_POOL_SIZE=20
      - PGBOUNCER_RESERVE_POOL_SIZE=20
      - PGBOUNCER_RESERVE_POOL_TIMEOUT=5
      - PGBOUNCER_MAX_CLIENT_CONN=4000
    networks:
      - twir
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager

  temporal:
    depends_on:
      - postgres
    image: twirapp/temporal:latest
    networks:
      - twir
    secrets:
      - twir_postgres_user
      - twir_postgres_password
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      labels:
        kompose.volume.type: configMap
      placement:
        constraints:
          - node.role == manager

  postgres-backup:
    image: registry.twir.app/twirapp/postgres-backup:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager

  migrations:
    image: registry.twir.app/twirapp/migrations:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
    deploy:
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 30
    healthcheck:
      test: exit 0

  redis:
    image: ghcr.io/dragonflydb/dragonfly:v1.26.2
    command: dragonfly --dir /data/snapshots --dbfilename twir-redis-snapshot-{timestamp} --snapshot_cron "0 0 * * *" --logtostderr --proactor_threads 4
    volumes:
      - dragonfly-data:/data
    networks:
      - twir
    deploy:
      restart_policy:
        condition: any
        delay: 3s
        max_attempts: 30
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager

  api:
    image: registry.twir.app/twirapp/api:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
      - traefik-public
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.twir-api.rule=Host(`twir.app`) && PathPrefix(`/api-old`)
        - traefik.http.routers.twir-api.middlewares=api-stripprefix
        - traefik.http.middlewares.api-stripprefix.stripprefix.prefixes=/api-old
        - traefik.http.services.twir-api.loadbalancer.server.port=3002
        - traefik.docker.network=traefik-public
      update_config:
        parallelism: 2
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      mode: replicated
      replicas: 1

  api-gql:
    image: registry.twir.app/twirapp/api-gql:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
      - traefik-public
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.twir-api-gql.rule=Host(`twir.app`) && PathPrefix(`/api`)
        - traefik.http.routers.twir-api-gql.middlewares=api-gql-stripprefix
        - traefik.http.middlewares.api-gql-stripprefix.stripprefix.prefixes=/api
        - traefik.http.services.twir-api-gql.loadbalancer.server.port=3009
        - traefik.docker.network=traefik-public
      update_config:
        parallelism: 2
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      mode: replicated
      replicas: 1

  bots:
    image: registry.twir.app/twirapp/bots:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager

  parser:
    image: registry.twir.app/twirapp/parser:latest
    secrets:
      - twir_doppler_token
    deploy:
      update_config:
        parallelism: 2
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      mode: replicated
      replicas: 6
      endpoint_mode: dnsrr
    networks:
      - twir

  timers:
    image: registry.twir.app/twirapp/timers:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
    deploy:
      update_config:
        parallelism: 2
      mode: replicated
      replicas: 6
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr

  scheduler:
    image: registry.twir.app/twirapp/scheduler:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr

  eventsub:
    image: registry.twir.app/twirapp/eventsub:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
      - traefik-public
    deploy:
      mode: replicated
      replicas: 3
      update_config:
        parallelism: 1
      endpoint_mode: dnsrr
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      labels:
        - traefik.enable=true
        - traefik.http.routers.twir-eventsub.rule=Host(`eventsub.twir.app`)
        - traefik.http.services.twir-eventsub.loadbalancer.server.port=3003
        - traefik.docker.network=traefik-public

  eval:
    image: registry.twir.app/twirapp/eval:latest
    secrets:
      - twir_doppler_token
    deploy:
      mode: replicated
      replicas: 8
      update_config:
        parallelism: 2
      endpoint_mode: dnsrr
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      resources:
        limits:
          cpus: '0.3'
          memory: 256M
    networks:
      - twir

  integrations:
    image: registry.twir.app/twirapp/integrations:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr

#  landing:
#    image: registry.twir.app/twirapp/landing:latest
#    secrets:
#      - twir_doppler_token
#    networks:
#      - twir
#      - traefik-public
#    deploy:
#      update_config:
#        parallelism: 2
#      restart_policy:
#        condition: any
#        delay: 30s
#        max_attempts: 30
#      mode: replicated
#      replicas: 4
#      endpoint_mode: dnsrr
#      labels:
#        - traefik.enable=true
#        - traefik.http.routers.twir-landing.rule=Host(`twir.app`)
#        - traefik.http.routers.twir-landing.middlewares=cloudflarewarp
#        - traefik.http.services.twir-landing.loadbalancer.server.port=3000
#        - traefik.docker.network=traefik-public

  web:
    image: registry.twir.app/twirapp/web:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
      - traefik-public
    deploy:
      update_config:
        parallelism: 2
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      mode: replicated
      replicas: 4
      endpoint_mode: dnsrr
      labels:
        - traefik.enable=true
        - traefik.http.routers.twir-web.rule=Host(`twir.app`)
        - traefik.http.routers.twir-web.middlewares=cloudflarewarp
        - traefik.http.services.twir-web.loadbalancer.server.port=3000
        - traefik.docker.network=traefik-public

  dashboard:
    image: registry.twir.app/twirapp/dashboard:latest
    command: --gzip --brotli --threshold 500 --ignore-cache-control-paths "/sw.js,/index.html,/manifest.webmanifest,/pluginWebUpdateNotice/web_version_by_plugin.json"
    secrets:
      - twir_doppler_token
    networks:
      - twir
      - traefik-public
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      labels:
        - traefik.enable=true
        - traefik.http.routers.twir-dashboard.rule=Host(`twir.app`) && PathPrefix(`/dashboard`)
        - traefik.http.routers.twir-dashboard.middlewares=dashboard-stripprefix
        - traefik.http.middlewares.dashboard-stripprefix.stripprefix.prefixes=/dashboard
        - traefik.http.services.twir-dashboard.loadbalancer.server.port=8080
        - traefik.docker.network=traefik-public

  overlays:
    image: registry.twir.app/twirapp/overlays:latest
    command: --gzip --brotli --threshold 500
    networks:
      - twir
      - traefik-public
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      labels:
        - traefik.enable=true
        - traefik.http.routers.twir-overlays.rule=Host(`twir.app`) && PathPrefix(`/overlays`)
        - traefik.http.routers.twir-overlays.middlewares=overlays-stripprefix
        - traefik.http.middlewares.overlays-stripprefix.stripprefix.prefixes=/overlays
        - traefik.http.services.twir-overlays.loadbalancer.server.port=8080
        - traefik.docker.network=traefik-public

  websockets:
    image: registry.twir.app/twirapp/websockets:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
      - traefik-public
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      labels:
        - traefik.enable=true
        - traefik.http.routers.twir-websockets.rule=Host(`twir.app`) && PathPrefix(`/socket`)
        - traefik.http.routers.twir-websockets.middlewares=sockets-stripprefix
        - traefik.http.middlewares.sockets-stripprefix.stripprefix.prefixes=/socket
        - traefik.http.services.twir-websockets.loadbalancer.server.port=3004
        - traefik.docker.network=traefik-public

  tokens:
    image: registry.twir.app/twirapp/tokens:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
    deploy:
      update_config:
        parallelism: 2
      mode: replicated
      replicas: 4
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr

  emotes-cacher:
    image: registry.twir.app/twirapp/emotes-cacher:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
    deploy:
      update_config:
        parallelism: 2
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      mode: replicated
      replicas: 4

  events:
    image: registry.twir.app/twirapp/events:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
    deploy:
      update_config:
        parallelism: 2
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      mode: replicated
      replicas: 6

  ytsr:
    image: registry.twir.app/twirapp/ytsr:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
    deploy:
      update_config:
        parallelism: 2
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      mode: replicated
      replicas: 6

  tts:
    image: aculeasis/rhvoice-rest:latest
    networks:
      - twir
    deploy:
      update_config:
        parallelism: 2
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr
      mode: replicated
      replicas: 4

  discord:
    image: registry.twir.app/twirapp/discord:latest
    secrets:
      - twir_doppler_token
    networks:
      - twir
    deploy:
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
      endpoint_mode: dnsrr

  language-detector:
    image: ghcr.io/registry.twir.app/twirapp/language-detector:latest
    secrets:
      - twir_doppler_token
    environment:
      - APP_ENV=production
    deploy:
      update_config:
        parallelism: 1
      mode: replicated
      replicas: 2
      endpoint_mode: dnsrr
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 30
    networks:
      - twir

volumes:
  twir-postgres-data:
    external: true
  postgres-data:
  redis-data:
  redis-stack-data:
  dragonfly-data:
  minio-data:

networks:
  twir:
    name: twir
    external: true
  traefik-public:
    external: true

secrets:
  twir_doppler_token:
    external: true
  twir_postgres_user:
    external: true
  twir_postgres_db:
    external: true
  twir_postgres_password:
    external: true
