services:
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8085:8080"
    environment:
      - ADMINER_DEFAULT_SERVER=postgres:5432
      - ADMINER_PLUGINS=enum-option json-column
    networks:
      - twir-dev

  postgres:
    image: postgres:18.1
    restart: unless-stopped
    #    command: postgres -c 'max_connections=500' -c wal_level=replica -c max_wal_senders=10
    command: >
      bash -c "
      docker-entrypoint.sh postgres -c max_connections=500 -c wal_level=replica -c max_wal_senders=10 &
      PG_PID=$$!;

      until pg_isready -U twir 2>/dev/null; do sleep 1; done;

      if ! grep -q 'host replication replicator all scram-sha-256' /var/lib/postgresql/18/docker/pg_hba.conf 2>/dev/null; then
        echo 'host replication replicator all scram-sha-256' >> /var/lib/postgresql/18/docker/pg_hba.conf;
        psql -U twir -d twir -c 'SELECT pg_reload_conf();' 2>/dev/null || true;
      fi;

      wait $$PG_PID
      "
    volumes:
      - postgres-data:/var/lib/postgresql
      - ./configs/postgres/primary-init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "54321:5432"
    environment:
      POSTGRES_USER: twir
      POSTGRES_PASSWORD: twir
      POSTGRES_DB: twir
    networks:
      - twir-dev

  postgres-replica:
    image: postgres:18.1
    environment:
      POSTGRES_USER: twir
      POSTGRES_PASSWORD: twir
      POSTGRES_DB: twir
    user: postgres
    entrypoint: [ "/bin/bash", "-c" ]
    command: >
      "
      echo 'Waiting for primary...';
      until pg_isready -h postgres -p 5432 -U twir; do sleep 2; done;

      echo 'Primary ready. Initializing replica...';
      rm -rf /var/lib/postgresql/18/docker;
      mkdir -p /var/lib/postgresql/18;

      PGPASSWORD=replicator pg_basebackup -h postgres -U replicator -D /var/lib/postgresql/18/docker -Fp -Xs -R -P;

      echo 'Basebackup complete. Starting PostgreSQL in standby mode...';
      exec postgres -c max_connections=500  -c log_statement=all -c log_connections=on -c hot_standby=on
      "
    depends_on:
      - postgres
    networks:
      - twir-dev
    deploy:
      replicas: 3
      endpoint_mode: dnsrr


  pgdog:
    image: ghcr.io/pgdogdev/pgdog:v0.1.25
    restart: unless-stopped
    volumes:
      - ./configs/pgdog/pgdog.dev.toml:/pgdog/pgdog.toml
      - ./configs/pgdog/users.toml:/pgdog/users.toml
    networks:
      - twir-dev
    ports:
      - "6432:6432"
    environment:
      RUST_LOG: debug

  redis:
    image: redis:8.0.2
    command: redis-server --save 60 1 --loglevel warning --io-threads 2
    restart: unless-stopped
    ports:
      - "6385:6379"
    volumes:
      - redis-data:/data
    networks:
      - twir-dev

  language-processor:
    image: twirapp/language-processor-py:latest
    restart: unless-stopped
    ports:
      - "3012:3000"
    environment:
      - APP_ENV=development

  tts:
    image: aculeasis/rhvoice-rest
    restart: unless-stopped
    ports:
      - "7001:8080"
    networks:
      - twir-dev

  # s3
  rustfs:
    image: rustfs/rustfs:1.0.0-alpha.79
    restart: unless-stopped
    ports:
      - "8000:9000"
      - "8090:9001" #web console
    environment:
      RUSTFS_ACCESS_KEY: minio
      RUSTFS_SECRET_KEY: minio-password
      RUSTFS_CONSOLE_ENABLE: true
    volumes:
      - rustfs-data:/data

  temporal:
    image: temporalio/auto-setup:1.22.2
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      - DB=postgresql
      - DB_PORT=5432
      # this is db addr
      - POSTGRES_SEEDS=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=twir
      - POSTGRES_PWD=twir
      - POSTGRES_DB=temporal
      - DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development-sql.yaml
    volumes:
      - ./configs/temporal:/etc/temporal/config/dynamicconfig
    networks:
      - twir-dev
    ports:
      - "7233:7233"
    labels:
      kompose.volume.type: configMap

  temporal-admin-tools:
    image: temporalio/admin-tools:1.22.2
    restart: unless-stopped
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    networks:
      - twir-dev
    stdin_open: true
    tty: true

  temporal-ui:
    image: temporalio/ui:2.21.0
    restart: unless-stopped
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:3000
    networks:
      - twir-dev
    ports:
      - "7234:8080"

  nats:
    image: nats:2.10.11-scratch
    command: -js -m 8222
    restart: unless-stopped
    ports:
      - "4222:4222"
      - "8222:8222"
    networks:
      - twir-dev

  executron:
    image: twirapp/executron:latest
    ports:
      - "7003:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
    restart: unless-stopped
    networks:
      - twir-dev

  clickhouse:
    image: clickhouse/clickhouse-server:25.5-alpine
    restart: unless-stopped
    environment:
      - CLICKHOUSE_USER=twir
      - CLICKHOUSE_PASSWORD=twir
      - CLICKHOUSE_DB=twir
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    volumes:
      - clickhouse-data:/var/lib/clickhouse
      - ./configs/clickhouse-config.xml:/etc/clickhouse-server/config.d/override.xml
    ports:
      - "8123:8123"
      - "9000:9000"
    networks:
      - twir-dev
    cap_add:
      - SYS_NICE
      - NET_ADMIN
      - IPC_LOCK
    ulimits:
      nofile: 262144

volumes:
  redis-data:
  postgres-data:
  postgres-replica1-data:
  postgres-replica2-data:
  rustfs-data:
  clickhouse-data:

networks:
  twir-dev:
    driver: bridge
