go 1.22.2

use (
	./apps/api
	./apps/api-gql
	./apps/bots
	./apps/discord
	./apps/emotes-cacher
	./apps/events
	./apps/eventsub
	./apps/parser
	./apps/scheduler
	./apps/timers
	./apps/tokens
	./apps/websockets
	./apps/ytsr
	./cli
	./libs/api
	./libs/bus-core
	./libs/config
	./libs/crypto
	./libs/gomodels
	./libs/grpc
	./libs/helix
	./libs/integrations
	./libs/logger
	./libs/migrations
	./libs/pubsub
	./libs/sentry
	./libs/twitch
	./libs/types
	./libs/uptrace
	./libs/utils
	./libs/cache
	./libs/baseapp
)
