go 1.19

use (
	./apps/api
	./apps/bots
	./apps/parser
	./apps/timers
	./apps/watched
	./apps/tokens
	./libs/config
	./libs/gomodels
	./libs/grpc
	./libs/integrations/spotify
	./libs/pubsub
	./libs/twitch
	./libs/types
	./libs/ytdl
	./libs/ytsr
)
