go 1.20

use (
	./apps/api
	./apps/bots
	./apps/emotes-cacher
	./apps/events
	./apps/parser
	./apps/scheduler
	./apps/timers
	./apps/tokens
	./apps/watched
	./apps/websockets
	./apps/eventsub
	./libs/config
	./libs/gomodels
	./libs/grpc
	./libs/integrations/spotify
	./libs/permissions
	./libs/pubsub
	./libs/twitch
	./libs/types
	./libs/ytdl
	./libs/ytsr
)
