---
import type { GetTwirStreamersResponse_Streamer } from '@twir/grpc/generated/api/api/stats';

import { unProtectedClient } from '../../api/twirp';
import ReviewDialog from './ReviewDialog.vue';
import StreamersList from './StreamersList.vue'
import { chunk } from '../../utils/chunk';

const streamersWithFollowers: GetTwirStreamersResponse_Streamer[][] = [];

try {
	const twitchStreamersReq = await unProtectedClient.getStatsTwirStreamers({});
	const sortedStreamers = twitchStreamersReq.response.streamers.sort((a, b) => a.followersCount - b.followersCount);
	streamersWithFollowers.push(...chunk(sortedStreamers, 3))
	// streamersWithFollowers.push(...chunk(Array.from({ length: 500 }).map(() => sortedStreamers.at(0)!), 3));
} catch (e) {
	console.error(e)
}
---

<section id="reviews">
	<div class="reviews-bg">
		<div class="container py-24">
			<div class="flex justify-between">
				<h3 class="text-white text-4xl font-bold">
					Streamers use twir
				</h3>

				<ReviewDialog profile={Astro.locals.profile} />
			</div>
		</div>
		<StreamersList client:only="vue" streamers={streamersWithFollowers} />
	</div>
</section>
