---
import CommandsSvg from '../../assets/features/commands.svg'
import TimersSvg from '../../assets/features/timers.svg'
import GreetingsSvg from '../../assets/features/greetings.svg'

const features = [
	{
		title: 'Commands',
		description: 'A powerful command system with aliases, counters, and all sorts of variables for all occasions',
		icon: CommandsSvg,
	},
	{
		title: 'Timers',
		description: 'A simple system, but with verve, has become a popular announcement system from Twitch',
		icon: TimersSvg,
	},
	{
		title: 'Greetings',
		description: 'Do you want to somehow highlight your favorite viewers? Add a greeting!',
		icon: GreetingsSvg,
	},
	{
		title: 'Commands',
		description: 'A powerful command system with aliases, counters, and all sorts of variables for all occasions',
		icon: CommandsSvg,
	},
	{
		title: 'Commands',
		description: 'A powerful command system with aliases, counters, and all sorts of variables for all occasions',
		icon: CommandsSvg,
	},
	{
		title: 'Commands',
		description: 'A powerful command system with aliases, counters, and all sorts of variables for all occasions',
		icon: CommandsSvg,
	}
]
---

<div class="features">
	<div class="container mx-auto flex flex-col items-center p-[80px]">
		<div class="flex flex-col items-center gap-[20px]">
			<span class="font-semibold text-[#B0ADFF] text-base uppercase">Features</span>
			<span class="font-semibold text-white text-4xl">Analytics that feels like it’s from the future</span>
			<span class="font-semibold text-[#ADB0B8] text-xl">Powerful, self-serve product and growth analytics to help you convert, engage, and retain more users. Trusted by over 4,000 startups.</span>
		</div>
		<div class="mt-[64px] grid grid-cols-2 md:grid-cols-3 gap-x-[32px] gap-y-[64px]">
			{features.map((f) => <div class="flex flex-col items-center text-center gap-[8px]">
				<div style="display: flex; padding: 10px; border-radius: 58px;border: 10px solid rgba(177, 174, 255, 0.12); background: rgba(177, 174, 255, 0.05);">
					<img src={f.icon} />
				</div>
				<span class=" text-xl text-white font-semibold">{f.title}</span>
				<span class=" text-base text-[#ADB0B8] font-normal">{f.description}</span>
			</div>)}
		</div>
	</div>
</div>

<style>
	.features {
		background: url(../../assets/bg-image-15.svg), #09090b 0px -0.187px / 100% 100.03% no-repeat;
	}
</style>
