---
import TwirInCircle from '../../assets/TwirInCircle.svg?component';
import Telegram from '../../assets/social/telegram.svg?component';
import Discord from '../../assets/social/discord.svg?component';
import Github from '../../assets/social/github.svg?component';

import { navLinks } from '../navLinks.js';
---

<div class="pt-12 px-20 bg-[#19181a]">
	<div class="container">
		<div class="flex flex-col gap-6 items-center">
			<div class="flex gap-3 items-center">
				<TwirInCircle class="w-10 h-10"/>
				<span class="text-white text-2xl font-bold uppercase">Twir</span>
			</div>
			<div class="flex justify-center items-center">
				{navLinks.map((item) => <a href={item.href}
																	 class="text-[#ADB0B8] font-medium px-3 py-2 leading-6 hover:text-[#D5D8DF] transition-colors"
				>
					{item.label}
				</a>)}
			</div>
		</div>
		<div class="mt-12 border-t border-stone-600">
			<div class="flex justify-between p-8 text-stone-400">
				<div>© {new Date().getFullYear()} Twir. All rights reserved.</div>
				<div class="flex gap-8">
					<div class="flex gap-[14px]">
						<a href="https://t.me/twirapp" target="_blank">
							<Telegram class="w-6 h-6"/>
						</a>
						<a href="https://discord.gg/Q9NBZq3zVV" target="_blank">
							<Discord class="w-6 h-6"/>
						</a>
						<a href="https://github.com/satont/twir" target="_blank">
							<Github class="w-6 h-6"/>
						</a>
					</div>
					<!-- <div>
						terms, privacy there
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
