---
import Chat from './hero/Chat.astro';
import Promote from './hero/Promote.astro';
---
<div class="container p-[80px]">
	<div class="flex justify-between flex-wrap items-center px-[32px] gap-[60px]">
		<Promote/>
		<Chat/>
	</div>
</div>
