---
import ArrowRight from '../../assets/arrowright.svg';
---
<div class="flex flex-col items-start w-[700px]">
	<button
		class="
			flex gap-[8px]
			items-center
			px-[14px]
			py-[6px]
			rounded-full
			bg-[#1a1a22]
			border-2
			border-solid
			border-[#72757d26]
			font-['Inter']
			font-medium
			text-sm
			text-white
			"
	>
		🚀 View latest updates
		<img src={ArrowRight} width="16" height="16"/>
	</button>

	<span class="pt-[16px] font-['Inter'] text-6xl font-bold text-white"
	>Engage your audience like never before</span>

	<span class="pt-[24px] font-['Inter'] font-normal text-[#ADB0B8]">
						Our Twitch bot is the ultimate all-in-one solution for streamers looking to take their channel to the next level.
					</span>

	<div class="pt-[48px] flex gap-[12px]">
		<button class="hero-button border-[#393A3E] border border-solid">
			Learn more
		</button>
		<button class="hero-button bg-[#5D58F5]">
			Start for free
		</button>
	</div>
</div>

<style>
	.hero-button {
		@apply flex px-[28px] py-[16px] font-['Inter'] font-normal text-[#FFFFFF] rounded-md
	}
</style>
