---
import Profile from '../components/Profile.vue';
import { Icon } from 'astro-icon';

import { navLinks } from '../components/navLinks.js'
---

<header class="bg-[#09090B]/25">
	<div class="container">
		<div class="flex justify-between items-center border-b border-[#9DA2BA]/30 py-4 px-[32px]">
			<div class="inline-flex gap-x-8">
				<div class="flex items-center gap-[12px]">
					<Icon name="TwirLogo" size="36px"/>
					<span class="text-2xl font-semibold text-white">Twir</span>
				</div>
				<nav class="inline-flex gap-x-1">
				{navLinks.map((item) => <a data-section={item.href} href={item.href} class="text-[#ADB0B8] font-medium px-3 py-2 leading-6 hover:text-[#D5D8DF] transition-colors">
					{item.label}
				</a>)}
				</nav>
			</div>

			<Profile client:load/>
		</div>
	</div>
</header>
