.tsw-input {
  &::placeholder {
    color: theme('colors.gray.60');
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: theme('colors.gray.60');
  }

  &::-ms-input-placeholder {
    color: theme('colors.gray.60');
  }

  &:focus {
    @apply outline-none;
  }
}

.tsw-input-disabled {
  @apply opacity-50 border-transparent;

  &:hover {
    @apply cursor-not-allowed;
  }
}

.tsw-text-input-error {
  @apply border-b-red-60;

  &:hover {
    @apply border-b-red-65;
  }
}
