global
    log stdout format raw local0 err
    maxconn 4096
    user haproxy
    group haproxy

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    timeout tunnel  3600s

frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 30s
    stats admin if TRUE

frontend http
    bind *:80

    # ACLs for different services
    acl host_music_recognizer hdr(host) -i music-recognizer.twir.app
    acl host_bots hdr(host) -i services-bots.twir.app
    acl host_twir hdr(host) -i twir.app

    # Path-based ACLs
    acl path_api_old path_beg /api-old
    acl path_api path_beg /api
    acl path_dashboard path_beg /dashboard
    acl path_overlays path_beg /overlays
    acl path_socket path_beg /socket
    acl path_shortener path_beg /s/

		# Combined routing rules
    use_backend music_recognizer if host_music_recognizer
    use_backend bots if host_bots

    # Combined host and path rules
    use_backend api_old if host_twir path_api_old
    use_backend api if host_twir path_api
    use_backend api if host_twir path_shortener
    use_backend dashboard if host_twir path_dashboard
    use_backend overlays if host_twir path_overlays
    use_backend socket if host_twir path_socket
    use_backend web if host_twir !path_api !path_dashboard !path_overlays !path_socket !path_api_old

backend api_old
    mode http
    balance roundrobin
    option tcp-check
    http-request set-path %[path,regsub(^/api-old/,/)]
    server-template api_old- 1-30 twir_api:3002 check resolvers docker init-addr none

backend api
    mode http
    balance roundrobin
    option tcp-check
    http-request set-path %[path,regsub(^/s/,/v1/short-links/)] if { path_beg /s/ }
    http-request set-path %[path,regsub(^/api/,/)] if { path_beg /api/ }
    server-template api-gql- 1-30 twir_api-gql:3009 check resolvers docker init-addr none

backend bots
    mode http
    balance roundrobin
    option tcp-check
    server-template bots- 1-30 twir_bots:3000 check resolvers docker init-addr none

backend dashboard
    mode http
    balance roundrobin
    option tcp-check
    http-request set-path %[path,regsub(^/dashboard/,/)]
    server-template dashboard- 1-30 twir_dashboard:8080 check resolvers docker init-addr none

backend overlays
    mode http
    balance roundrobin
    option tcp-check
    http-request set-path %[path,regsub(^/overlays/,/)]
    server-template overlays- 1-30 twir_overlays:8080 check resolvers docker init-addr none

backend music_recognizer
    mode http
    balance roundrobin
    option tcp-check
    server-template music-recognizer- 1-30 twir_music-recognizer:3000 check resolvers docker init-addr none

backend web
    mode http
    balance roundrobin
    option tcp-check
    server-template web- 1-30 twir_web:3000 check resolvers docker init-addr none

backend socket
    mode http
    balance roundrobin
    option tcp-check
    option http-server-close
    option forwardfor
    http-request set-header X-Forwarded-Proto http
    http-request set-path %[path,regsub(^/socket/,/)]

    # WebSocket specific settings
    timeout tunnel 3600s
    timeout server 3600s
    option http-pretend-keepalive

    server-template websockets- 1-30 twir_websockets:3004 check resolvers docker init-addr none

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    hold valid 5s
    hold timeout 1s
    hold other 1s
    timeout retry 1s
