global:
  scrape_interval: 15s

scrape_configs:
  - job_name: cadvisor
    dns_sd_configs:
      - names:
          - tasks.cadvisor
        type: A
        port: 8080
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: "container_(cpu|memory|network|fs|tasks)_.*"
        action: keep
