receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  docker_stats:
    endpoint: unix:///var/run/docker.sock
    collection_interval: 15s
  filelog:
    include:
      - /var/lib/docker/containers/*/*.log
    start_at: end

processors:
  batch:
    timeout: 10s

exporters:
  otlp/uptrace:
    endpoint: UPTRACE_HOST:4317
    tls:
      insecure: true
    headers:
      uptrace-dsn: "UPTRACE_DSN"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/uptrace]
    metrics:
      receivers: [otlp, docker_stats]
      processors: [batch]
      exporters: [otlp/uptrace]
    logs:
      receivers: [otlp, filelog]
      processors: [batch]
      exporters: [otlp/uptrace]
