receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  docker_stats:
    endpoint: unix:///var/run/docker.sock
    collection_interval: 15s
  filelog:
    include:
      - /var/lib/docker/containers/*/*.log
    operators:
      - type: json_parser
        id: parser-docker
        output: extract_metadata_from_docker_log
        timestamp:
          parse_from: attributes.time
          layout: "%Y-%m-%dT%H:%M:%S.%LZ"
      - type: move
        id: extract_metadata_from_docker_log
        from: attributes.log
        to: body
        output: extract_container_name
      - type: regex_parser
        id: extract_container_name
        regex: ^/var/lib/docker/containers/(?P<container_id>[^/]+)/.*\.log$
        parse_from: attributes["log.file.path"]
        output: format_container_name
      - type: move
        id: format_container_name
        from: attributes.container_id
        to: resource["container.id"]

processors:
  batch:
    timeout: 10s

exporters:
  otlp/uptrace:
    endpoint: UPTRACE_HOST:4317
    tls:
      insecure: true
    headers:
      uptrace-dsn: "UPTRACE_DSN"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/uptrace]
    metrics:
      receivers: [otlp, docker_stats]
      processors: [batch]
      exporters: [otlp/uptrace]
    logs:
      receivers: [otlp, filelog]
      processors: [batch]
      exporters: [otlp/uptrace]
