---
const href = Astro.locals.profile ? '/dashboard' : Astro.locals.authLink
const buttonText = Astro.locals.profile ? 'Dashboard' : 'Start for free'
---

<a
	class="
		inline-flex
		justify-center
		items-center
		py-3
		px-7
		xs:py-4
		font-semibold
		text-white
		rounded-lg
		bg-[#5D58F5]
		hover:bg-[#6964FF]
		transition-[background,box-shadow]
		text-base
		sm:text-lg
		focus-visible:outline-none
		focus-visible:ring-[#5D58F5]/50
		focus-visible:ring-4
		text-center
		whitespace-nowrap
	"
	href={href}
>
	{buttonText}
</a>

