---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/index/Hero.astro';
import Stats from '../components/index/Stats.astro';
import Features from '../components/index/Features.astro';
import Integrations from '../components/index/Integrations.astro';
import Reviews from '../components/index/Reviews.vue';
import Team from '../components/index/Team.astro';
---

<Layout title="Twir - Main page">
	<section id="hero">
		<Hero />
	</section>
	<section id="stats">
		<Stats />
	</section>
	<section id="features">
		<Features />
	</section>
	<section id="integrations">
		<Integrations />
	</section>
	<section id="reviews">
		<Reviews client:only="vue" />
	</section>
	<section id="team">
		<Team />
	</section>
</Layout>
