name: Build and lint

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:


concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.work
          cache-dependency-path: '**/*.sum'

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"

      - name: Install go dependencies
        run: bun cli deps

      - name: Build
        run: bun cli build
