name: Docker v3

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      skip-change-detect:
        type: boolean
        description: Skip detection of change (force build)

jobs:
  build-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folders:
          - path: apps/api
            runtime: go
          - path: apps/api-gql
            runtime: go
          - path: apps/bots
            runtime: go
          - path: apps/discord
            runtime: go
          - path: apps/emotes-cacher
            runtime: go
          - path: apps/events
            runtime: go
          - path: apps/eventsub
            runtime: go
          - path: apps/integrations
            runtime: js
          - path: apps/parser
            runtime: go
          - path: apps/scheduler
            runtime: go
          - path: apps/timers
            runtime: go
          - path: apps/tokens
            runtime: go
          - path: apps/websockets
            runtime: go
          - path: apps/ytsr
            runtime: go
          - path: apps/chat-translator
            runtime: go
          - path: apps/giveaways
            runtime: go
          - path: frontend/dashboard
            runtime: js
          - path: frontend/overlays
            runtime: js
    steps:
      - uses: actions/checkout@v4

      - name: Sets the folder and application names for the build
        id: set-folder
        run: |
          echo "folder=$(dirname ${{ matrix.folders.path }})" >> $GITHUB_ENV
          echo "app=$(basename ${{ matrix.folders.path }})" >> $GITHUB_ENV

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v45
        with:
          files: |
            ${{ env.folder }}/${{ env.app }}/**
            libs/**
            cli/**
            .bun-version
            package.json
            .github/workflows/dockerv3.yml
            .bunfig.toml
            bun.lock

      - name: Determine if build should run
        id: should-build
        run: echo "run-build=${{ steps.changed-files.outputs.any_changed == 'true' || github.event.inputs.skip-change-detect == 'true' }}" >> $GITHUB_ENV

      - uses: oven-sh/setup-bun@v2
        if: ${{ env.run-build == 'true' }}
        with:
          bun-version-file: ".bun-version"

      - name: Install JavaScript dependencies
        if: ${{ matrix.folders.runtime == 'js' && env.run-build == 'true' }}
        run: bun install --frozen-lockfile

      - name: Set up Go
        if: env.run-build == 'true'
        uses: actions/setup-go@v5
        with:
          go-version-file: './go.work'
          cache-dependency-path: |
            go.work.sum
            **/go.sum

      - name: Compute Go files hash
        if: ${{ matrix.folders.runtime == 'go' && env.run-build == 'true' }}
        id: go-files-hash
        run: |
          echo "hash=$(sha256sum go.work go.work.sum ${{ matrix.folders.path }}/go.mod ${{ matrix.folders.path }}/go.sum 2>/dev/null | sha256sum | awk '{print $1}')" >> $GITHUB_ENV

      - name: Cache Go build
        if: ${{ matrix.folders.runtime == 'go' && env.run-build == 'true' }}
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ matrix.folders.path }}-${{ env.hash }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.folders.path }}-

      - name: Install binaries dependencies
        if: env.run-build == 'true'
        run: bun cli deps -skip-node -skip-go

      - name: Build gql
        if: env.run-build == 'true'
        run: |
          if [ "${{ env.app }}" = "api-gql" ]; then
              bun cli build gql
          fi

      - name: Build application
        if: env.run-build == 'true'
        run: bun cli build app ${{ env.app }}

      - name: Set up Docker Buildx
        if: env.run-build == 'true'
        uses: docker/setup-buildx-action@v3
      - name: Login to Twir registry
        if: env.run-build == 'true'
        uses: docker/login-action@v3
        with:
          registry: registry.twir.app
          username: ${{ secrets.DOCKER_TWIR_LOGIN }}
          password: ${{ secrets.DOCKER_TWIR_PASSWORD }}

      - name: Build docker image
        if: env.run-build == 'true'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./${{ env.folder }}/${{ env.app }}/Dockerfile
          push: true
          tags: |
            registry.twir.app/twirapp/${{ env.app }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  migrations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v45
        with:
          files: |
            libs/migrations/**
            cli/**
            .github/workflows/dockerv3.yml
      - name: Set up Docker Buildx
        if: steps.changed-files.outputs.any_changed == 'true' || github.event.inputs.skip-change-detect == 'true'
        uses: docker/setup-buildx-action@v3
      - name: Login to Twir registry
        if: steps.changed-files.outputs.any_changed == 'true' || github.event.inputs.skip-change-detect == 'true'
        uses: docker/login-action@v3
        with:
          registry: registry.twir.app
          username: ${{ secrets.DOCKER_TWIR_LOGIN }}
          password: ${{ secrets.DOCKER_TWIR_PASSWORD }}
      - name: Build docker image
        if: steps.changed-files.outputs.any_changed == 'true' || github.event.inputs.skip-change-detect == 'true'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./libs/migrations/Dockerfile
          push: true
          tags: |
            registry.twir.app/twirapp/migrations:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v45
        with:
          files: |
            web/**
            libs/**
            cli/**
            .bun-version
            bun.lock
            package.json
            .github/workflows/dockerv3.yml
      - name: Set up Docker Buildx
        if: steps.changed-files.outputs.any_changed == 'true' || github.event.inputs.skip-change-detect == 'true'
        uses: docker/setup-buildx-action@v3
      - name: Login to Twir registry
        if: steps.changed-files.outputs.any_changed == 'true' || github.event.inputs.skip-change-detect == 'true'
        uses: docker/login-action@v3
        with:
          registry: registry.twir.app
          username: ${{ secrets.DOCKER_TWIR_LOGIN }}
          password: ${{ secrets.DOCKER_TWIR_PASSWORD }}
      - name: Build docker image
        if: steps.changed-files.outputs.any_changed == 'true' || github.event.inputs.skip-change-detect == 'true'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./web/Dockerfile
          push: true
          tags: |
            registry.twir.app/twirapp/web:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

