name: Publish Bots To Docker

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - 'apps/frontend/**'
  workflow_dispatch:

jobs:
  docker:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-docker]')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '18.x'
      - run: npm i -g pnpm
      - name: Install modules
        run: pnpm install
      - name: Build
        run: pnpm build:bots
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: build the image
        run: |
          docker buildx build --push \
            --tag satont/tsuwari:bots \
            -f ./apps/bots/Dockerfile \
            --platform linux/amd64,linux/arm64 .